@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<ISAM5635.Models.Car>

<div class="row">
    <div class="col-md-3">
        <h2>Viewing Fleet</h2>
        @foreach (var x in Model)
        {
            @x.ToString();
        }
    </div>
</div>
